@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(images/weather-city.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mainContainer {
  width: 25rem;
  height: auto;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
  padding: 20px;
}

.searchInput {
  width: 100%;
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
}

input[type="text"] {
  width: 100%;
  height: 2rem;
  outline: none;
  font-size: 1rem;
  color: #525050;
  padding: 0.2rem 0.5rem;
  border-radius: 1.5rem;
  border: 1px solid #b3b3b3;
}

input[type="text"]:focus {
  border: 1px solid #9c9dde;
}

input[type="submit"] {
  cursor: pointer;
  color: #9b9b9b;
  border-radius: 1.5rem;
  margin-left: 0.4rem;
  transition: all 0.3s ease;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  width: 100%;
  height: 2rem;
}

input[type="submit"]:hover {
  color: #fff;
  background-color: rgb(0, 128, 255);
  border: 1px solid rgb(0, 128, 255);
}

.weatherIcon {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.weatherIcon img {
  max-width: 100%;
  width: 8rem;
}

.weatherDetails .temp{
 font-size: 2rem;
}
.cityDetails {
  color: #323232;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.cityDetails .desc {
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

.cityDetails .date {
  color: #323232;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.windDetails {
  display: flex;
  margin: 1.5rem;
  justify-content: space-around;
}

.windDetails .humidityBox {
  display: flex;
  font-size: 1rem;
  color: #323232;
  margin-right: 1.5rem;
}

.windDetails .humidity .humidityValue {
 text-align: center;
  font-size: 2rem;
  color: #323232;
}

.windDetails .humidityBox img {
  max-height: 3rem;
  margin-right: 0.5rem;
}

.windDetails .windSpeed {
  display: flex;
  font-size: 1rem;
  color: #323232;
}

.windDetails .windSpeed img {
  max-height: 3rem;
  margin-right: 0.5rem;
}